$cBlack: black;

body {
  text-align: center;
}

.rect {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: $cBlack;
  animation: sk-bouncedelay 1.4s; //アニメーション内容とその時間
  animation-timing-function: ease; //アニメーションの動き
  animation-delay: 3s; //動作の遅延
  animation-iteration-count: 1; //繰り返し数
  animation-direction: reverse; //アニメーションが100%~0%に流れる巻き戻しみたいになる
  animation-direction: alternate; //アニメーションが0%~100%→100%~0%に交互に流れる(逆はalternate-reverse)
  animation-fill-mode: forwards; //アニメーション終了後、アニメーション後の状態を維持
  animation-play-state: paused; //アニメーション停止（アニメーションがしなくなる）ボタン押されたらアニメーション停止とかも可能
}
//ボタン押されたらアニメーション停止
.paused {
  animation-play-state: paused;
}

@keyframes sk-bouncedelay {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(2);
  }

  100% {
    transform: scale(3);
  }
}
